* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
  color: #fff;
}

.scroller {
  width: 1240px;
  height: 310px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  mask: linear-gradient(
    to left,
    transparent,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    transparent
  );

  .scroller-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    /* 用 translateZ 来实现重叠效果，与 Zindex 的区别是可以利用 GPU 加速的能力, 来源：https://stackoverflow.com/questions/15920775/image-decode-times-from-chrome-timeline-dev-tool */
    transform-style: preserve-3d;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 400px;
      height: 240px;
      transform: translate3d(0, 0, 0) scale(1);
      transform-origin: left;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      object-fit: cover;
      background-image: var(--img);
      background-size: cover;
    }
  }

  .dots {
    display: flex;
    justify-content: center;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0 5px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    .dot.active {
      background-color: cornflowerblue;
    }
  }
}
