* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 100%;
}


.emptybox {
    border-radius: 16px;
    background-color: cornflowerblue;
    color: #fff;
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

/* 不出现滚动条 */
.scrollbox {
    width: 100%;
    background-color: aquamarine;
    overflow: hidden;
    display: flex;
}

.img-container {
    display: flex;
    gap: 24px;
    height: 100vh;
    /* 不缩放，保证元素初始宽度不被外层 overflow: hidden 影响 */
    flex-shrink: 0;
}

img {
    height: 100%;
    object-fit: contain;
}